{% extends 'bases/base.html' %}
{% block title %}Блог страница {% endblock %}


{% block content %}
	<div class="first-widget parallax" id="blogId">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Информация о посте</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Home /  Полная Информация </span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">
		<div class="row">

			<div class="col-md-8 blog-posts" >
				<div class="row">
					<div class="col-md-12">
						<div class="post-blog">
							<div class="blog-image">
								<img src="images/includes/blog2.jpg" style="margin-bottom: 100px;" alt="">
							</div> <!-- /.blog-image -->
							<div class="blog-contents">
								<span class="meta-date"><a href="#">25 Май 2019</a></span>
								<span class="meta-comments"><a href="#blog-comments"> Comments {{objects.comments.count|upper}}</a></span>
								<span class="meta-author"><a href="#blog-author">{{objects.owner}}</a></span>
								<h3>{{ objects.title }}</h3>
                                    <p>{{ objects.description }}</p>
                                    <p>{{ objects.description }}</p>
                      
								<p>
                                    Город: {{ objects.place_name }}
                                    <div id="map"></div>
                                </p>
								<div class="tag-items">
                                    <span class="small-text">Tags:</span>
                                    <a href="#" rel="tag">business</a>
                                    <a href="#" rel="tag">html</a>
                                    <a href="#" rel="tag">education</a>
                                    {%  if user.is_authenticated%}
                                    <td><a href="{% url 'cities:post-update' objects.id %}">Редактировать пост</a></td>
                                    <td><a href="{% url 'cities:post-delete' objects.id %}">Удалить пост</a></td>

                                    {% else %}
                                    {% endif %}
                                </div>
							</div> <!-- /.blog-content -->
						</div> <!-- /.post-blog -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div id="blog-author" class="clearfix">
                            <a href="#" class="blog-author-img pull-left">
                                <img src="images/includes/author.png" alt="">
                            </a>
                            <div class="blog-author-info">
                                <h4 class="author-name"><a href="#">{{ objects.owner|upper }}</a></h4>
                                <p>Я Дастан Алымбеков , житель этого городе и хотелось поделиться этой новостью</p>
                            </div>
                        </div>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
					<div class="col-md-12">
                        <div id="blog-comments" class="blog-post-comments">
													<a class="btn btn-default" href="{% url 'cities:add_comment_to_post' pk=objects.pk %}">Добавить комментарии</a>
													{% for comment in objects.comments.all %}
													    {% if user.is_authenticated or comment.approved_comment %}
													    <div class="comment">
													        <div class="date">
													            {{ comment.created_date }}
													            {% if not comment.approved_comment %}
													                <a class="btn btn-default" href="{% url 'cities:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
													                <a class="btn btn-default" href="{% url 'cities:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
													            {% endif %}
													        </div>
													        <strong>{{ comment.author }}</strong>
													        <p>{{ comment.text|linebreaks }}</p>
													    </div>
													    {% endif %}
													{% empty %}
													    <p>Пока нет комментариев :(</p>
													{% endfor %}

													  </div> <!-- /.blog-comments-content -->
                        </div> <!-- /.blog-post-comments -->
                    </div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->



                            </div> <!-- /.widget-inner -->
                        </div> <!-- /.widget-main -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
			</div> <!-- /.col-md-8 -->



		</div> <!-- /.row -->
	</div> <!-- /.container -->
        <style>

      #map {
        height: 300px;
      }
    </style>
    <script>
    
      var map;
      var service;
      var infowindow;
      var lat = {{ objects.latitude }};
      var lon = {{ objects.longitude }};
      function initMap() {
        var post_data = new google.maps.LatLng(lat, lon);

        infowindow = new google.maps.InfoWindow();

        map = new google.maps.Map(
            document.getElementById('map'), {center: post_data, zoom: 10});

        var request = {
          query: 'Museum of Contemporary Art Australia',
          fields: ['name', 'geometry'],
        };

        service = new google.maps.places.PlacesService(map);

        service.findPlaceFromQuery(request, function(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              createMarker(results[i]);
            }

            map.setCenter(results[0].geometry.location);
          }
        });
      }

      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs5qxtyQSLgfxc0IO9AyErN7_iCSN_xYw&libraries=places&callback=initMap" async defer></script>


{% endblock %}
