{% extends 'bases/base.html' %}
{% load static %}

{% block content %}

	<div class="first-widget parallax" id="blog">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Блог</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Главная / Посты</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">
		<div class="row">

			<div class="col-md-8 blog-posts">
				<div class="row">
					<div class="col-md-12">
						<div class="post-blog">
							<div class="blog-image">
								<a href="blog-single.html">
									<img src="images/includes/blog1.jpg" alt="">
								</a>
              </div> <!-- /.blog-image -->
              {% if user.is_authenticated%}
                              <td><a href="{% url "cities:post-create" %}">Создать пост</a></td>
                {% endif %}

						{% for obj in page_object.object_list %}
							<div class="blog-content">

								<style>a , a:visited {
									color:#aaaaaa;
								}</style>
								<span class="meta-date colorthis"><a href="#">{{obj.title}}</a></span>
								<span class="meta-comments colorthis"><a href="{% url 'cities:blog-single' pk=obj.pk %}">Комментарии: {{ obj.approved_comments.count }}</a>></span>
								<span class="meta-author colorthis"><a href="#">{{obj.place_name}}</a></span>

								<h1>{{obj.title}}</h1>

                                    <div id="map"></div>
                                <p>
									{{obj.description}}
									<button class="btn btn-primary"><a href="{% url 'cities:blog-single' pk=obj.pk %}">Продолжить читать...</a></p></button>
									<hr>


							</div> <!-- /.blog-content -->
						</div> <!-- /.post-blog -->
                    {% endfor %}
      {% if is_paginated %}
  <nav aria-label="..." class="mt-3">
    <ul class="pagination">
      <li class=" page-item {% if not previus_url %}disabled {% endif %}">
        <a class="page-link" href="{{ previus_url }}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>

      {% for n in page_object.paginator.page_range %}
        {% if page_object.number == n %}
              <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?page={{n}}">{{n}}
                       <span class="sr-only">(current)</span>
                   </a>
            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ n }}">
                                  {{n}}
                  </a>
              </li>
        {% endif %}
      {% endfor %}
      <li class=" page-item {% if not next_url %}disabled {% endif %}">
        <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">next</a>
      </li>
    </ul>
  </nav>
  {% endif %}

				</div>
			</div>

            </div></div></div>
    <style>

      #map {
        height: 300px;
      }
    </style>
    <script>

      var map;
      var service;
      var infowindow;
      {% for obj in page_object.object_list %}
      var lat = {{ obj.latitude }};
      var lon = {{ obj.longitude }};
      {% endfor %}
      function initMap() {
        var post_data = new google.maps.LatLng(lat, lon);

        infowindow = new google.maps.InfoWindow();

        map = new google.maps.Map(
            document.getElementById('map'), {center: post_data, zoom: 20});

        var request = {
          query: 'Museum of Contemporary Art Australia',
          fields: ['name', 'geometry'],
        };

        service = new google.maps.places.PlacesService(map);

        service.findPlaceFromQuery(request, function(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              createMarker(results[i]);
            }

            map.setCenter(results[0].geometry.location);
          }
        });
      }

      function createMarker(place) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs5qxtyQSLgfxc0IO9AyErN7_iCSN_xYw&libraries=places&callback=initMap" async defer></script>


{% endblock %}
