{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
	<div class="first-widget parallax" id="contact">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Contact</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Home / Contact</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">
		<div class="row">

			<div class="col-md-8 blog-posts">
				<div class="row">
					<div class="col-md-12">
						<div class="contact-wrapper">
							<h3>Свяжись с нами !</h3>
							<p>Отправь нам заявку или же можешь позвонить по определенным номерам, если хочешь стать нашим партнером или работать у нас то мы ждём именно тебя </p>
							<div class="contact-map">
			                    <div class="google-map-canvas" id="map-canvas" style="height: 320px;">
			                    </div>
			                </div>
						</div> <!-- /.contact-wrapper -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <h3>Отправь нам сообщение</h3>
	                        <div class="widget-inner">
                            <form action="#" method="post" id="contact-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <label for="name">Ваше имя:</label>
                                            <input type="text" name="name" id="name">
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label for="email">Email адресс:</label>
                                             <input type="text" name="email" id="email">
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <label for="subject">Предмет:</label>
                                             <input type="text" name="subject" id="subject">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <label for="message">Ваше сообщение:</label>
                                            <textarea name="message" id="message"></textarea>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="mainBtn" id="submit">Отправить заявку</button>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-md-12">
                                		<div id="result"></div>
                                	</div> <!-- /.col-md-12 -->
                                </div> <!-- /.row -->
                            </form>
                          </div> <!-- /.widget-inner -->
                        </div> <!-- /.contact-form -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
			</div> <!-- /.col-md-8 -->

			<div class="col-md-4">
				<div class="sidebar">
					<div class="sidebar-widget">
						<h5 class="widget-title">Недавние Посты</h5>
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="images/includes/blogthumb1.jpg" alt=""></a>
							</div>
							<div class="content">
								<span>24 мая  2019</span>
								<h4><a href="#">Оползневая  опастность</a></h4>
							</div>
						</div> <!-- /.last-post -->
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="images/includes/blogthumb2.jpg" alt=""></a>
							</div>
							<div class="content">
								<span>25 мая 2019</span>
								<h4><a href="#">Сильная ливень в нарыне</a></h4>
							</div>
						</div> <!-- /.last-post -->
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="images/includes/blogthumb3.jpg" alt=""></a>
							</div>
							<div class="content">
								<span>25 мая 2019 </span>
								<h4><a href="#">Дожди в окрайнах города</a></h4>
							</div>
						</div> <!-- /.last-post -->
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Категории</h5>
						<div class="row categories">
							<div class="col-md-6">
								<ul>
									<li><a href="#">Стандартные</a></li>
									<li><a href="#">Катастрофы</a></li>
									<li><a href="#">Ливень</a></li>
									<li><a href="#">Карты</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Категории</h5>
						<ul id="flickr-feed" class="thumbs"></ul>
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Текст</h5>
						<!-- <p class="light-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient… </!--> 
					</div> <!-- /.sidebar-widget -->
				</div> <!-- /.sidebar -->
			</div> <!-- /.col-md-4 -->

		</div> <!-- /.row -->
	</div> <!-- /.container -->

	<script>
	var map;
	var service;
	var infowindow;
	var lat = 42.8700000;
	var lon = 74.5900000;
	function initMap() {
		var post_data = new google.maps.LatLng(lat, lon);

		infowindow = new google.maps.InfoWindow();

		map = new google.maps.Map(
				document.getElementById('map-canvas'), {center: post_data, zoom: 10});

		var request = {
			query: 'Museum of Contemporary Art Australia',
			fields: ['name', 'geometry'],
		};

		service = new google.maps.places.PlacesService(map);

		service.findPlaceFromQuery(request, function(results, status) {
			if (status === google.maps.places.PlacesServiceStatus.OK) {
				for (var i = 0; i < results.length; i++) {
					createMarker(results[i]);
				}

				map.setCenter(results[0].geometry.location);
			}
		});
	}

	function createMarker(place) {
		var marker = new google.maps.Marker({
			map: map,
			position: place.geometry.location
		});

		google.maps.event.addListener(marker, 'click', function() {
			infowindow.setContent(place.name);
			infowindow.open(map, this);
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs5qxtyQSLgfxc0IO9AyErN7_iCSN_xYw&libraries=places&callback=initMap" async defer></script>


{% endblock %}
