{% extends 'bases/base.html' %}

{% load static %}

{% block content %}
	<div class="first-widget parallax" id="portfolio">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Наша компания</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Главная / О нас/ Наша компания</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
    </div> <!-- /.pageTitle -->
    
    <div style="display: flex; justify-content: center; ">
    <p style="font-size: 22px; width: 700px;text-align:left;  margin-top: 50px; margin-bottom: 50px;">
        Мы являемся действительно независимой компанией, специализирующейся исключительно на предоставлении услуг по инфраструктуре и показу новостей пространственных данных. С момента создания, т.е. с 2019 года, 
        мы наработали некоторые деловые отношения с различными пользователями – 
        от небольших до крупных – благодаря своему профессионализму, 
        опыту и способности использовать возможности экономии затрат на пользу клиентам. 
        2019 года компания Геопортал стала частью ТТТТ – успешного поставщика услуг в сфере 
        инфраструктуры пространственных данных
    </p>
    </div>


{% endblock %}
